<H1>Daily Update</H1>
<%= placeholder({text:"Cinnamon"}) %>
<h2>Did you take your cinnamon today?</h2>
<span class="yes_button">Yes</span><span class="no_button">No</span>
<style> .last7days IMG { width:30px; height:30px;} </style>