<!-- called from dashboard_controller.rb -->
<!-- for new users who have never been in any trials -->
<H1>Starting a new Trial</H1>

<H3>It's great you're interested in starting a trial for cinnamon. Below are important facts about the trial</H3>


<ol>
  <li><input type="checkbox"> Each trial lasts 30 days</li>
  <p>We hope you will take it daily and let us know how it affects you. At the end of 30 days -- and even during the trial -- you can update your profile with changes to your health indicators.</p>
  
  <li><input type="checkbox">Need 30-day supply of cinnamon on hand</li>
  <p>Here's some places to get cinnamon, the cost</p>

  <li><input type="checkbox">Know how to incorporate cinnamon into your diet</li>
  <p>We have found the way that works best is to sprinkle it on the foods you love to hate.  It will spice things up.</p>

  <li><input type="checkbox">Commitment for a daily update on use</li>
  <p>We ask that you visit SLOtility.com every day and tell us if you took the supplement. We've made it very easy and it should only take a few seconds to do it.</p>

  <li><input type="checkbox">Legal fine print</li>
  <p>We are not your doctor.  You should check with your doctor.  Don't sue us.</p>
</ol>

<H1>Are you ready to start your SLOtility trial TODAY?</H1>
<H1><%= link_to "Click here to start your trial NOW", "/dashboard/daily_update" %></H1>


<!-- <H3>You are currently in one other trial using cinnimon</H3> -->

<!-- Show cards for all the supplements. Ideally, mark the one you are already taking.  One primary recommendation, and other 
XXXX YYY YYY
XXXX YYY YYY
XXXX Z Z Z Z     
XXXX Z Z Z Z  

Show health issues to fix
Images across in grid.
Click to see more details about that health issue (disease)  /disease/5

Click supplement to see details
/intervention/3

-->
