div.container {background-color: #F9F9F9;}
H3 { color: #555; line-height: 0.9; } 
H2 { color: #888; } 
a.btn.more { color:#BBB; } 
 a.btn.more:hover { color: black;} 
a.more { float:right; cursor:pointer; }
SPAN.arrow { font-weight:bold; color:#419641; font-size:1.3em; cursor:pointer; }
#carousel-example-generic .arrow { color:white; }
#features H3 { line-height:0.85; }

table#i283 td img { margin-right: 8px; } 
table#i283 td { vertical-align: top; }
table#i283 H3 { margin-top: 5px; }
table#i283 img { height:60px; width:60px; }
H3 SMALL { color:#888; }
